*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

img {
    width: 200px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(17, 80, 99);
}

ul {
    list-style: none;
    padding: 12px;
}

ul li {
    padding: 2px;
}

ul li a {
    color: rgb(17, 80, 99);
    text-decoration: none;
}

.main {
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    border-style: solid;
    border-radius: 15px 50px;
    border-color: rgb(17, 80, 99)
}

.collection {
    max-width: 400px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}
